<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
     <div class="container">
       <a class="navbar-brand" asp-area="" asp-controller="Home"asp-action="Index">
          <img src="~/images/logo_lanche2-sfd.png" asp-append-version="true" />
          LanchesMac
      </a>
     <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
     aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      <!-- Collapsible content -->
    <div class="navbar-collapse collapse" id="collapsibleNavbar" style="font-size: medium; font-weight: bold">
           <ul class="navbar-nav mr-auto">
               <li class="nav-item">@await Component.InvokeAsync("CategoriaMenu")</li>
                <li class="nav-item">
                  <form class="navbar-form navbar-right" asp-controller="Lanche" asp-action="Search" method="get">
                    <div class="form-group">
                       <input type="text" class="form-control" placeholder="Procurar produto" name="searchString" value="@ViewData["searchString"]">
                    </div>
                 </form>
                </li>
               <li class="nav-item"><a class="nav-link text-light" asp-area="" asp-controller="Contato" asp-action="Index">Contato</a></li>
               <li class="nav-item"><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
               <li class="nav-item">
                 @if(User.IsInRole("Admin"))
                 {
                    <a class="nav-link text-light" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin</a>
                 }
               </li>
              <li class="nav-item">@await Html.PartialAsync("_LoginPartial")</li>
              <li class="nav-item">@await Component.InvokeAsync("CarrinhoCompraResumo")</li>
          </ul>
    </div>
  </div>
 </nav>